@import url("https://fonts.googleapis.com/css2?family=Exo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Proza+Libre&display=swap");

body {
    font-family: "Exo", sans-serif;
    background-color: #e3f6f5 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #375bd2;
    font-family: "Proza Libre", sans-serif;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.05);
}

input {
    padding: 10px;
    transition: all 200ms ease-in;
}

input:focus {
    outline: 1px solid #bae8e8;
}

input,
.button,
.box {
    border-radius: 3px;
    border: 1px solid #bae8e8;
}

input,
.button,
.box {
    box-shadow: 0 3px 10px rgb(0 0 0 / 3%), 0 3px 10px rgb(0 0 0 / 6%),
        0 3px 8px rgb(0 0 0 / 9%);
}

.box {
    padding: 15px;
}

.alert-light {
    background-color: unset !important;
    border: unset !important;
}
