@import url("https://fonts.googleapis.com/css2?family=Exo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");

body {
    font-family: "Exo", sans-serif;
    background: url("images/bg4.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #00528a;
    font-family: "Open Sans", sans-serif;
    text-shadow: 3px 3px 2px rgba(51, 115, 255, 0.1);
}

label {
    font-size: 14px;
    color: #5b94bb;
}

input {
    padding: 10px;
    width: 300px;
}

input:focus {
    outline: 1px solid #a6c8fc;
}

input,
.button,
.box,
.box2,
.box3 {
    border-radius: 4px;
    border: unset;
}

input,
.button {
    box-shadow: 0 3px 10px rgb(0 0 0 / 2%), 0 3px 10px rgb(0 0 0 / 4%),
        0 3px 8px rgb(0 0 0 / 6%);
}

a {
    text-decoration: none !important;
}

.box a {
    transition: all 150ms ease-in;
    color: #00528a;
}

.box a:hover {
    color: #00243c;
}

.box,
.box2,
.toolbar,
.profile-avatar,
.notifications-dropdown {
    box-shadow: rgb(12 22 44 / 70%) 0 12px 32px -12px;
}

.box {
    padding: 35px;
    background-color: rgba(255, 255, 254, 0.5);
    backdrop-filter: blur(4px);
}

.box2 {
    background-color: whitesmoke;
}

.box3 {
    border: 1px solid #c0c0c0;
    background-color: #eeeeee;
}

.user-avatar {
    background-position: center;
    background-size: cover;
}

.wrapper {
}

.main {
    margin: 130px 120px 50px 120px;
    transition: all 600ms;
    opacity: 0;
    width: calc(100vw - 180px);
    max-width: 1200px;
}

.login,
.register {
    width: auto;
}

.box-wrapper,
.create-thread {
    width: calc(100% - 30px);
}

p {
    margin-bottom: 2px !important;
}

.disabled {
    pointer-events: none;
    opacity: 50%;
}

.alert {
    padding: unset !important;
}

.alert-light {
    background-color: unset !important;
    border: unset !important;
    max-width: 300px;
    text-align: center;
    color: #006dff !important;
}

.text-sec {
    color: #5a92b8 !important;
}

.flex1 {
    flex: 1;
}
.flex2 {
    flex: 2;
}
.flex3 {
    flex: 3;
}
.flex4 {
    flex: 4;
}
.flex5 {
    flex: 5;
}
.flex6 {
    flex: 6;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #00243c;
}

::-webkit-scrollbar-thumb {
    background: rgb(142, 161, 169);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(87, 102, 108);
}

@media only screen and (max-width: 800px) {
}

@media only screen and (max-width: 600px) {
    .login,
    .register,
    .create-thread,
    .box-wrapper {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main,
    .login,
    .register,
    .create-thread,
    .box-wrapper {
        margin: 130px 0 15px 0;
        width: calc(100% - 50px) !important;
    }

    input {
        width: 100%;
    }

    .register-box,
    .login-box,
    .create-thread-box,
    .users-in-list-box {
        width: 100%;
    }

    .box {
        padding: 25px;
    }

    .main,
    .login,
    .register,
    .create-thread,
    .box-wrapper {
        margin: 15px 0 15px 60px;
        width: calc(100% - 85px) !important;
    }
}

@media only screen and (max-width: 350px) {
    .main,
    .login,
    .register,
    .create-thread,
    .box-wrapper {
        margin: 10px 0 10px 50px;
        width: calc(100% - 70px) !important;
    }

    .box {
        padding: 15px 5px 5px 5px;
    }

    .register-box,
    .login-box,
    .create-thread-box,
    .users-in-list-box {
        padding-left: 15px;
        padding-right: 15px;
    }
}
