@import url("https://fonts.googleapis.com/css2?family=Exo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Proza+Libre&display=swap");

@font-face {
    font-family: "circular";
    src: url("fonts/circular-book.woff2") format("woff2");
}

body {
    font-family: "Exo", sans-serif;
    background: url("images/bg4.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #00528a;
    font-family: "circular", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 300 !important;
    text-shadow: 3px 3px 2px rgba(51, 115, 255, 0.1);
}

input {
    padding: 10px;
}

input:focus {
    outline: 1px solid #a6c8fc;
}

input,
.button,
.box {
    border-radius: 2px;
    border: unset;
}

input,
.button {
    box-shadow: 0 3px 10px rgb(0 0 0 / 2%), 0 3px 10px rgb(0 0 0 / 4%),
        0 3px 8px rgb(0 0 0 / 6%);
}

a {
    text-decoration: none !important;
    transition: all 150ms ease-in;
}

a:hover {
    color: #00528a !important;
}

.box,
.toolbar {
    box-shadow: rgb(12 22 44 / 70%) 0 12px 32px -12px;
}

.box {
    padding: 25px;
    width: 100%;
    background-color: rgba(255, 255, 254, 0.5);
    backdrop-filter: blur(4px);
}

.wrapper {
}

.main {
    margin: 130px 50px 50px 50px;
    width: calc(100% - 100px);
}

.alert-light {
    background-color: unset !important;
    border: unset !important;
}
