.button {
    padding: 10px;
    background-color: #00528a;
    color: white;
    transition: all 200ms ease-in;
    font-size: 18px;
}

.button:hover {
    background-color: rgba(60, 191, 245, 0.75);
    backdrop-filter: blur(3px);
}
