.button {
    padding: 10px;
    background-color: #00528a;
    color: white;
    transition: all 200ms ease-in;
    font-size: 18px;
}

.button-toggled {
    background-color: #00243c;
    outline: 1px solid black;
}

svg {
    pointer-events: none;
}

.button:hover {
    background-color: #00243c;
}
