.profile-info-wrapper {
    display: flex;
    gap: 30px;
}

.profile-avatar {
    width: 250px;
    border-radius: 2px;
}

.profile-tabs {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.profile-tab {
    width: 50%;
    min-width: 125px;
    padding: 15px;
    text-align: center;
    background-color: #00243c;
    color: white;
    transition: all 200ms ease-in;
    cursor: pointer;
}

.profile-tab-active {
    background-color: #00528a;
}

.profile-tab:hover {
    background-color: #00528a;
}

.profile-tab:first-of-type {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-right: 1px solid #5b94bb;
}

.profile-tab:last-of-type {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.profile-info-wrapper button {
    height: 44px;
}

@media only screen and (max-width: 800px) {
    .profile-info-wrapper {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media only screen and (max-width: 500px) {
    .profile-avatar {
        width: 100%;
    }

    .profile-info {
        text-align: center;
    }

    .profile-tabs {
        gap: 5px;
    }

    .profile-tab {
        width: 100%;
        min-width: unset;
        border-radius: 2px;
    }

    .profile-tab:first-of-type {
        border: unset;
    }

    #image-input {
        min-width: unset !important;
    }
}

@media only screen and (max-width: 350px) {
    .profile-info {
        word-break: break-all;
    }

    .profile-info-wrapper button {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 14px;
    }
}
