.toolbar {
    width: 100%;
    background-color: #00528a;
    backdrop-filter: blur(4px);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    gap: 18px;
}

.toolbar-padding-fix {
    padding-right: 50px;
}

.toolbar p {
    user-select: none;
    white-space: nowrap;
    margin: 0;
    color: white;
}

.toolbar
    div:not(.search-item, .bubbleFavorites, .bubbleNotifications, .dummy-div, .notifications-icon, .notifications-dropdown, .notifications-dropdown-item, .new-notification),
.toolbar a {
    cursor: pointer;
    color: white;
    width: auto;
    min-width: 90px;
    height: 80px;
    padding-left: 4px;
    padding-right: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dummy-div,
.notifications-icon {
    padding: 10px;
    display: flex;
    cursor: pointer;
    align-items: flex-start;
    justify-content: flex-end;
    height: fit-content;
    width: 100%;
    position: relative;
}

.notifications-icon svg {
    font-size: 30px;
}

.notifications-dropdown {
    position: absolute;
    top: 80px;
    right: 0;
    width: 400px;
    background-color: rgba(0, 36, 60, 0.85);
    border: 1px solid #004877;
    backdrop-filter: blur(4px);
    color: white;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.notifications-dropdown a {
    height: unset;
}

.notifications-dropdown-item {
    background-color: rgba(0, 36, 60, 0.85);
    border: 1px solid #325d79;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    transition: all 150ms ease-in;
}

.notifications-dropdown-item:hover {
    background-color: rgb(0, 29, 47);
    color: white;
}

.new-notification {
    min-width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: orchid;
    margin-left: 15px;
}

.bubbleNotifications,
.bubbleFavorites {
    bottom: 52px;
    right: 7px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #6558ef;
    color: white;
    font-size: 14px;
}

.bubbleNotifications {
    bottom: 22px;
    right: 2px;
}

.bubbleNotification {
}

.search-inputs {
    padding: unset !important;
}

.toolbar
    div:hover:not(.dummy-div, .notifications-icon, .notifications-dropdown, .notifications-dropdown-item, .new-notification)
    svg,
.toolbar
    a:hover:not(.dummy-div, .notifications-icon, .notifications-dropdown, .notifications-dropdown-item, .new-notification)
    svg {
    transform: scale(1.2);
    color: #5fc4ff;
}

.toolbar a svg,
.toolbar
    div:not(.dummy-div, .notifications-icon, .notifications-dropdown, .notifications-dropdown-item, .new-notification)
    svg {
    font-size: 40px;
    transition: all 150ms ease-in;
}

.toolbar-active-item {
    background-color: #00375c;
}

.search-nav {
    position: relative;
}

.search-item {
    position: fixed;
    height: 0;
    top: 62px;
    right: 0;
    left: 0;
}

.search-item button {
    border-radius: unset;
    height: 44px;
    background-color: #00375c;
    box-shadow: unset;
    padding: 0 20px;
    font-size: 18px;
}

.search-item button:hover {
    background-color: #00243c;
}

.search-input {
    border-radius: unset;
    color: white;
    background-color: #00243c;
    width: 100%;
}

.search-input:focus {
    border: unset;
    outline: unset;
}

.search-inputs {
}

@media only screen and (max-width: 736px) {
    .dummy-div {
        display: none;
    }
}

@media only screen and (max-width: 700px) {
    .toolbar
        div:not(.search-item, .bubbleFavorites, .bubbleNotifications, .dummy-div, .notifications-icon, .notifications-dropdown, .notifications-dropdown-item, .new-notification),
    .toolbar a {
        min-width: 75px;
        height: 80px;
    }

    .toolbar p {
        font-size: 14px;
    }

    .toolbar-padding-fix {
        padding-right: 5px;
    }
}

@media only screen and (max-width: 600px) {
    .toolbar {
        flex-direction: column;

        height: 100%;
        width: 60px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        gap: unset;

        box-shadow: rgb(12 22 44 / 70%) 12px 1px 25px -12px;
    }

    .toolbar-padding-fix {
        padding-right: unset;
    }

    .toolbar
        div:not(.search-item, .search-inputs, .bubbleFavorites, .bubbleNotifications, .dummy-div, .notifications-icon, .notifications-dropdown, .notifications-dropdown-item, .new-notification),
    .toolbar a {
        width: 100%;
        height: 100%;
        padding: unset;
        border-bottom: 1px solid #a8cde7;
        min-width: unset;
    }

    .bubbleFavorites,
    .bubbleNotifications {
        bottom: 87px;
        width: 20px;
        height: 20px;
        right: 0;
        font-size: 12px;
    }

    .bubbleNotifications {
        bottom: 29px;
        right: 5px;
    }

    .dummy-div,
    .notifications-icon {
        justify-content: center;
    }

    .notifications-dropdown {
        top: unset;
        right: unset;
        left: 60px;
        bottom: 0;
        width: calc(100vw - 90px);
        max-width: 400px;
        line-break: anywhere;
    }

    .toolbar div:last-child {
        border-bottom: unset;
    }

    .toolbar svg,
    .toolbar a svg {
        font-size: 35px;
    }

    .toolbar p {
        white-space: normal !important;
        font-size: 14px;
        word-break: break-word;
        text-align: center;
    }

    .search-nav {
    }

    .search-item {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .search-input {
        margin-left: 60px;
    }
}

@media only screen and (max-width: 350px) {
    .toolbar {
        width: 50px;
        box-shadow: rgb(12 22 44 / 70%) 12px 1px 14px -12px;
    }

    .bubbleFavorites,
    .bubbleNotifications {
        width: 18px;
        height: 18px;
    }

    .notifications-dropdown {
        width: calc(100vw - 80px);
        left: 50px;
    }

    .search-item button {
        padding: 5px 15px 5px 5px;
        font-size: 14px;
    }

    .search-input {
        margin-left: 50px;
    }

    .toolbar svg,
    .toolbar a svg {
        font-size: 30px;
    }

    .toolbar p {
        font-size: 12px;
    }
}
